{% extends "base.html" %}

{% block content %}
    <div class="card mx-auto" style="width: 35rem;" >
        <div class="card-header " style="background-color:#fdd4c0">  
            <div class="col" align="center">
                <h1><b>Manage User Accounts</b></h1>
            </div>
            <div class="row">
                <div class="col" align="right">
                    <a href="{% url 'authentication:signup' %}" class="btn btn-success">CREATE</a>
                </div>
            </div>
        </div>

        <div class="card-body ">
        <div style="height:4px">&nbsp;</div>
        <div class="row">
            <div class="col">
                <table class="table text-dark">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Registered At</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    {% for u in users %}
                        {% if u.is_active %}
                        <tr>
                            <td>{{ u.username }}</td>
                            <td>{{ u.date_joined }}</td>
                            <td align="left">
                                <a class="btn btn-default text-info ml-0 pl-0"href="{% url 'authentication:reset_pwd' u.pk %}">Reset Password</a> <br>
                                <a class="btn btn-default text-info ml-0 pl-0" href="{% url 'authentication:delete' u.pk %}">Delete</a>
                            </td>
                        </tr>
                        {% endif %}
                        {% if not u.is_active %}
                        <tr style="background-color:red">
                            <td>{{ u.username }}</td>
                            <td>{{ u.date_joined }}</td>
                            <td>
                                <a href="#">UNBAN</a> <br>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>
        </div>
    </div>
    <div class="container-fluid w-50" style=" border-style:solid; border-color:#000">
        <div class="row">
            
        </div>
        
        
        <div class="col-sm-2"></div>
    </div>
{% endblock %}