{% extends "base.html" %}

{% block content %}
<div style="height: 100px;"></div>

    <div class="card mx-auto" style="width: 25rem;" >
        <div class="card-header " style="background-color:#fdd4c0">  
            <div class="row justify-content-center">
                <h1><b>{{ user.username }}'s Profile</b></h1>
            </div>
        </div>

        <div class="card-body ">
        <div class="row" align="center">
            <div class="col" >
                <a class="btn btn-default text-info ml-0 pl-0" href="{% url 'authentication:change_pwd'%}"> Change Password</a>
                <div style="height:3px">&nbsp;</div>
                <a class="btn btn-default text-info ml-0 pl-0" href="{% url 'authentication:logout' %}"> Logout</a>
            </div>
        </div>
    </div>
    </div>
{% endblock %}