{% extends "base.html" %}

{% block content %}
<div style="height: 100px;"></div>

    <div class="container w-50 bg-dark text-white" align="center" >
        <div class="row justify-content-md-center">
            <div class="col">
                <h1><b>{{ user.username }}'s Profile</b></h1>
            </div>
        </div>
        <div style="height:10%;"></div>
        <div class="row">
            <div class="col justify-content-md-center" >
                <a class="btn btn-default text-info ml-0 pl-0" href="{% url 'authentication:change_pwd'%}"> Change Password</a>
                <div style="height:3px">&nbsp;</div>
                <a class="btn btn-default text-info ml-0 pl-0" href="{% url 'authentication:logout' %}"> Logout</a>
            </div>
        </div>
    </div>
{% endblock %}