{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-lg">
            <div class="d-flex flex-column"  align="center">
                <div class="p-2 bg-dark text-white border border-secondary"><h1><b>Report Summary</b></h1></div>
                <div class="p-2 bg-dark text-white"><h3>{{ report.time }}</h3></div>
                <div class="p-2 bg-dark text-white "><h5>{{ report.location }}</h5></div>
                <div class="p-2 bg-dark text-white">Name: {{ report.name }}</div>
                <div class="p-2 bg-dark text-white">Mobile: {{ report.mobile }}</div>
                <div class="p-2 bg-dark text-white">Location: {{ report.location }} Unit {{ report.unit_number }}, Singapore {{ report.postal_code }}</div>
                <div class="p-2 bg-dark text-white">
                  Type:
                    {% ifequal report.type "FF" %}
                    <small class="text-danger"> <em>Fire-fighting</em> </small>
                    {% endifequal %}
                    {% ifequal report.type "EA" %}
                        <small class="text-primary"> <em>Emergency Ambulance</em> </small>
                    {% endifequal %}
                    {% ifequal report.type "RE" %}
                        <small class="text-warning"> <em>Rescue & Evacuation</em> </small>
                    {% endifequal %}
                    {% ifequal report.type "GL" %}
                        <small class="text-success"> <em>Gas Leak Control</em> </small>
                    {% endifequal %}
                </div>
                <div class="p-2 bg-dark text-white"><p>
                    <button class="btn btn-success collapsed" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Description
                    </button>
                  </p>
                  <div class="collapse" id="collapseExample" style="">
                    <div class="card card-body bg-dark text-white">
                        {{ report.description }}
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
{% endblock %}
