{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col" align="right">

                {% if user.is_authenticated %}
                    Hi {{ user.username }}!
                    <button type="button" class="btn btn-secondary" onclick="window.location.href='{% url 'logout' %}'" class="ui primary button">
                        Logout
                    </button>
                    {% else %}
                    You are not logged in
                    <br>
                    <button onclick="window.location.href='{% url 'login' %}'" class="ui primary button">
                        Login
                    </button>
                {% endif %}
            </div>

        </div>
        <div class="row">
            <div class="col-sm">
                <div class="mapouter">
                    <div class="gmap_canvas">
                        <iframe width="720" height="600" id="gmap_canvas" src="https://maps.google.com/maps?q=S {{ postal }}&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                    </div>
                    <style>.mapouter{text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style>
                </div>
            </div>
            <div class="col-sm">
                <ul class="list group">
                    {% for report in report_list %}
                        <a href="{% url 'home' %}?postal={{ report.postal_code }}" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Report {{ report.pk }}</h5>
                                <small>{{ report.time.date }}</small>
                            </div>
                            <p class="mb-1"> {{ report.name }} {{ report.mobile }} {{ report.postal_code }}</p>
                            {% ifequal report.type "FF" %}
                                <small> Fire-fighting </small>
                            {% endifequal %}
                            {% ifequal report.type "EA" %}
                                <small> Emergency Ambulance </small>
                            {% endifequal %}
                            {% ifequal report.type "RE" %}
                                <small> Rescue & Evacuation </small>
                            {% endifequal %}
                            {% ifequal report.type "GL" %}
                                <small> Gas Leak Control </small>
                            {% endifequal %}
                        </a>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm"></div>
        </div>
    </div>
{% endblock %}