{% extends "base.html" %}

{% block content %}

    <div class="row">  
        <div class="col-1"></div>
        <div class="col-7">
            
            <div class ="row" style="padding-bottom: 10px;" >
                <div class="col-3">
                    <div class="row">
                        <label class="switch">
                            <input type="checkbox" onclick="toggleDengue();" data-toggle="toggle" checked>
                            <span class="slider round"></span>
                        </label>
                        <font size="5">&nbsp;Dengue</font>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row">
                        <label class="switch">
                            <input type="checkbox" onclick="toggleHaze();" checked>
                            <span class="slider round"></span>
                        </label>
                        <font size="5">&nbsp;Haze</font>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row">
                        <label class="switch">
                            <input type="checkbox" onclick="toggleReport();" checked>
                            <span class="slider round"></span>
                        </label>
                        <font size="5">&nbsp;Report</font>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row">
                        <label class="switch">
                            <input type="checkbox" onclick="toggleShelter();">
                            <span class="slider round"></span>
                        </label>
                        <font size="5">&nbsp;CD Shelter</font>
                    </div>
                </div>
            </div>
            <div class ="row">
                    <div id="myMap"></div>
                    <div style="height:2px;">&nbsp;</div>
                </div>
            
            <script>
                        var map;
                        var markers = {{ markers|safe }};
                        var address = {{ center|safe }};
                        if (address!=-1){
                            address = { lat: parseFloat(address["lat"]), lng: parseFloat(address["lng"])};
                        }
                        var dengue = {{ dengue|safe }};
                        var cds = {{ cds|safe }};
                        var haze = {{ haze|safe }};
                        var i;
                        var initial = {lat: 1.3521 , lng:  103.8198};
                        var temp;
                        var dengueCheck = 1;
                        var hazeCheck = 1;
                        var reportCheck = 1;
                        var shelterCheck = 0;
                        
                        function toggleDengue(){
                            dengueCheck = dengueCheck + 1;
                            dengueCheck = dengueCheck % 2;
                            initMap();
                        }
                        function toggleReport(){
                            reportCheck = reportCheck + 1;
                            reportCheck = reportCheck % 2;
                            initMap();
                        }
                        function toggleHaze(){
                            hazeCheck = hazeCheck + 1;
                            hazeCheck = hazeCheck % 2;
                            initMap();
                        }
                        function toggleShelter(){
                            shelterCheck = shelterCheck + 1;
                            shelterCheck = shelterCheck % 2;
                            initMap()
                        }
                        function showHaze(map){
                            var image = {
                                url: 'https://cdn1.iconfinder.com/data/icons/hawcons/32/699966-icon-1-cloud-512.png',
                                 scaledSize: new google.maps.Size(50, 50), // scaled size
                                // The origin for this image is (0, 0).
                                origin: new google.maps.Point(0, 0),
                                // The anchor for this image is the base of the flagpole at (0, 32).
                                anchor: new google.maps.Point(25, 50)
                            };
                            for (haz in haze){
                                temp = haze[haz]["location"];
                                temp = { lat: parseFloat(temp["latitude"]), lng: parseFloat(temp["longitude"])};
                                var marker = new google.maps.Marker({
                                    position: temp,
                                    map: map,
                                    title: haz,
                                    icon: image
                                });

                                var infowindow = new google.maps.InfoWindow();
                                var content = '<div><strong>' + haz + '</strong><br>' +
                                        'PSI: ' + haze[haz]["psi"] + '<br>' +
                                        'PM25: '+ haze[haz]["pm25"] + '</div>'


                                google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){
                                    return function() {
                                        infowindow.setContent(content);
                                        infowindow.open(map, this);
                                    };
                               })(marker,content,infowindow));
                            }
                        }
                        function showShelter(map){
                             var image = {
                                url: 'https://www.scdf.gov.sg/images/default-source/scdf-images/cd-shelter-logo-01711c5eafc0a84b29afa7c5a52c2cfe7a.png',
                                scaledSize: new google.maps.Size(50, 40), // scaled size
                                origin: new google.maps.Point(0, 0),
                                anchor: new google.maps.Point(25, 50)
                            };
                            var locations = [];
                            for(cd in cds){
                                temp = cds[cd];
                                temp = { lat: parseFloat(temp["lat"]), lng: parseFloat(temp["lng"])};
                                locations.push(temp);
                            }
                            var markers = locations.map(function(location) {
                                  return new google.maps.Marker({
                                    position: location,
                                    icon: image
                                  });
                                });

                            // Add a marker clusterer to manage the markers.
                            var markerCluster = new MarkerClusterer(map, markers,
                                {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
                        }
                        function showReport(map){
                            var image;
                            var urlx;
                            for(mark in markers){
                                // green
                                if (markers[mark]["type"]=="GL"){
                                    urlx = 'http://maps.google.com/mapfiles/ms/icons/green-dot.png';
                                }
                                else if (markers[mark]["type"]=="RE"){
                                    urlx = 'http://maps.google.com/mapfiles/ms/icons/yellow-dot.png';
                                }
                                else if (markers[mark]["type"]=="EA"){
                                    urlx = 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png';
                                }
                                else{
                                    urlx = 'http://maps.google.com/mapfiles/ms/icons/red-dot.png';
                                }
                                temp = markers[mark]["latlng"];
                                if (temp["lat"] == "NA") continue;
                                temp = { lat: parseFloat(temp["lat"]), lng: parseFloat(temp["lng"])};
                                var marker = new google.maps.Marker({
                                    position: temp,
                                    map: map,
                                    title: markers[mark]["name"],
                                    icon: urlx
                                });
                            }
                        }
                        function showDengue(map) {
                            for(d in dengue){
                                outer = dengue[d];
                                map.data.add({geometry: new google.maps.Data.Polygon([outer])})
                            }
                            map.data.setStyle({
                                    fillColor: 'red',
                                    strokeWeight: 10,
                                    strokeColor: 'red'
                            });
                        }

                        function initMap() {
                            var geocoder;
                            map = new google.maps.Map(document.getElementById('myMap'), {
                                center: {lat: 1.3521 , lng:  103.8198},
                                zoom: 11
                            });

                            var infowindow = new google.maps.InfoWindow();
                            function CenterControl(controlDiv, map) {
                                // Set CSS for the control border.
                                var controlUI = document.createElement('div');
                                controlUI.style.backgroundColor = '#fff';
                                controlUI.style.border = '2px solid #fff';
                                controlUI.style.borderRadius = '3px';
                                controlUI.style.boxShadow = '0 2px 6px rgba(0,0,0,.3)';
                                controlUI.style.cursor = 'pointer';
                                controlUI.style.marginBottom = '22px';
                                controlUI.style.textAlign = 'center';
                                controlUI.title = 'Click to recenter the map';
                                controlDiv.appendChild(controlUI);

                                // Set CSS for the control interior.
                                var controlText = document.createElement('div');
                                controlText.style.color = 'rgb(25,25,25)';
                                controlText.style.fontFamily = 'Roboto,Arial,sans-serif';
                                controlText.style.fontSize = '16px';
                                controlText.style.lineHeight = '38px';
                                controlText.style.paddingLeft = '5px';
                                controlText.style.paddingRight = '5px';
                                controlText.innerHTML = 'Center Map';
                                controlUI.appendChild(controlText);

                                // Setup the click event listeners: simply set the map to Chicago.
                                controlUI.addEventListener('click', function() {
                                    map.setCenter(initial);
                                    map.setZoom(11);
                                });

                             }
                            if(dengueCheck==1){
                                showDengue(map);
                            }
                            if(reportCheck==1){
                                showReport(map);
                            }
                            if(hazeCheck==1){
                                showHaze(map);
                            }
                            if(shelterCheck==1){
                                showShelter(map);
                            }
                            //part of center map button
                            var centerControlDiv = document.createElement('div');
                            var centerControl = new CenterControl(centerControlDiv, map);

                            centerControlDiv.index = 1;
                            map.controls[google.maps.ControlPosition.TOP_CENTER].push(centerControlDiv);

                            //move center to selected report
                            if (address!=-1){
                                map.setCenter(address);
                                map.setZoom(12);
                            }
                        }
                    </script>
            <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
            </script>
            <script async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyARXkp10wZAwMj0cFN21Sq09OgxPLOqWqI&callback=initMap'></script>
        </div>

        
        <div class="col-sm">
            <ul class="nav nav-pills nav-stacked anyClass" style="width: 80%;">
                {% for report in report_list %}
                <li class="nav-item" style="width: 100%;">
                <a href="{% url 'CMSApp:home' %}?postal={{ report.postal_code }}" class="bg-dark text-white list-group-item list-group-item-action" style="width: 95%;">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ report.name }}</h5>
                        <small>{{ report.time.date }}</small>
                    </div>
                    <div class="d-flex w-100 justify-content-between">
                            <p class="mb-1">Phone: {{ report.mobile }}</p>
                                {% ifequal report.type "FF" %}
                                    <small class="text-danger"> <em>Fire-fighting</em> </small>
                                {% endifequal %}
                                {% ifequal report.type "EA" %}
                                    <small class="text-primary"> <em>Emergency Ambulance</em> </small>
                                {% endifequal %}
                                {% ifequal report.type "RE" %}
                                    <small class="text-warning"> <em>Rescue & Evacuation</em> </small>
                                {% endifequal %}
                                {% ifequal report.type "GL" %}
                                    <small class="text-success"> <em>Gas Leak Control</em> </small>
                                {% endifequal %}
                        </div>
                    <p class="mb-1">Postal Code: {{ report.postal_code }} </p>
                </a>
                <a href="{% url 'CMSApp:detail'  report.pk %}" class="btn btn-dark btn-sm bg-dark list-group-item" style="width: 95%;">
                    <div style="font-size:14;"><u>Details</u></div>
                </a>
                <div style="height:5px;">&nbsp;</div>
            </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
