{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md">
            <div id="myMap"></div>
            <script>
                        var map;
                        var markers = {{ markers|safe }};
                        var address = {{ center|safe }};
                        if (address!=-1){
                            address = { lat: parseFloat(address["lat"]), lng: parseFloat(address["lng"])};
                        }
                        var haze = {{ haze|safe }};
                        var i;
                        var initial = {lat: 1.3521 , lng:  103.8198};
                        var temp;
                        function initMap() {
                            var geocoder;
                            map = new google.maps.Map(document.getElementById('myMap'), {
                                center: {lat: 1.3521 , lng:  103.8198},
                                zoom: 11
                            });
                            var infowindow = new google.maps.InfoWindow();
                            function CenterControl(controlDiv, map) {
                                // Set CSS for the control border.
                                var controlUI = document.createElement('div');
                                controlUI.style.backgroundColor = '#fff';
                                controlUI.style.border = '2px solid #fff';
                                controlUI.style.borderRadius = '3px';
                                controlUI.style.boxShadow = '0 2px 6px rgba(0,0,0,.3)';
                                controlUI.style.cursor = 'pointer';
                                controlUI.style.marginBottom = '22px';
                                controlUI.style.textAlign = 'center';
                                controlUI.title = 'Click to recenter the map';
                                controlDiv.appendChild(controlUI);

                                // Set CSS for the control interior.
                                var controlText = document.createElement('div');
                                controlText.style.color = 'rgb(25,25,25)';
                                controlText.style.fontFamily = 'Roboto,Arial,sans-serif';
                                controlText.style.fontSize = '16px';
                                controlText.style.lineHeight = '38px';
                                controlText.style.paddingLeft = '5px';
                                controlText.style.paddingRight = '5px';
                                controlText.innerHTML = 'Center Map';
                                controlUI.appendChild(controlText);

                                // Setup the click event listeners: simply set the map to Chicago.
                                controlUI.addEventListener('click', function() {
                                    map.setCenter(initial);
                                    map.setZoom(11);
                                });

                             }
                            for(mark in markers){
                                temp = markers[mark]["latlng"];
                                if (temp["lat"] == "NA") continue;
                                temp = { lat: parseFloat(temp["lat"]), lng: parseFloat(temp["lng"])};
                                var marker = new google.maps.Marker({
                                    position: temp,
                                    map: map,
                                    title: markers[mark]["name"]
                                });
                            }
                            for (haz in haze){
                                temp = haze[haz]["location"];
                                temp = { lat: parseFloat(temp["latitude"]), lng: parseFloat(temp["longitude"])};
                                var marker = new google.maps.Marker({
                                    position: temp,
                                    map: map,
                                    title: haz,
                                    icon: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/parking_lot_maps.png'
                                });

                                var infowindow = new google.maps.InfoWindow();
                                var content = '<div><strong>' + haz + '</strong><br>' +
                                        'PSI: ' + haze[haz]["psi"] + '<br>' +
                                        'PM25: '+ haze[haz]["pm25"] + '</div>'


                               google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){
                                    return function() {
                                        infowindow.setContent(content);
                                        infowindow.open(map, this);
                                    };
                               })(marker,content,infowindow));
                            }


                            //part of center map button
                            var centerControlDiv = document.createElement('div');
                            var centerControl = new CenterControl(centerControlDiv, map);

                            centerControlDiv.index = 1;
                            map.controls[google.maps.ControlPosition.TOP_CENTER].push(centerControlDiv);

                            //move center to selected report
                            if (address!=-1){
                                map.setCenter(address);
                                map.setZoom(12);
                            }
                        }
                    </script>
            <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyARXkp10wZAwMj0cFN21Sq09OgxPLOqWqI&callback=initMap'></script>
        </div>
        <div class="col-sm">
            <ul class="list group">
                {% for report in report_list %}
                <a href="{% url 'CMSApp:home' %}?postal={{ report.postal_code }}" class="list-group-item list-group-item-action" style="width: 60%;">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ report.name }}</h5>
                        <small>{{ report.time.date }}</small>
                    </div>
                    <p class="mb-1">{{ report.mobile }} @ {{ report.postal_code }} </p>
                    {% ifequal report.type "FF" %}
                        <small> Fire-fighting </small>
                    {% endifequal %}
                    {% ifequal report.type "EA" %}
                        <small> Emergency Ambulance </small>
                    {% endifequal %}
                    {% ifequal report.type "RE" %}
                        <small> Rescue & Evacuation </small>
                    {% endifequal %}
                    {% ifequal report.type "GL" %}
                        <small> Gas Leak Control </small>
                    {% endifequal %}
                </a>
                <a href="{% url 'CMSApp:detail'  report.pk %}" class="list-group-item" style="width: 60%;">
                    <div style="font-size:14;">Details</div>
                </a>
                <div style="height:5px;">&nbsp;</div>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}