{% extends "base.html" %}

{% block content %}
<div class="card mx-auto" style="width: 45rem;" >
    <div class="card-header " style="background-color:#fdd4c0">
        <div class="col" align="center">
            <h1><b>Update Information</b></h1>
        </div>
    </div>
    <div class="card-body ">
    <form class="needs-validation" method="post"> {% csrf_token %}
      <div class="form-group row">
        <label for="NRIC" class="col-sm-2 col-form-label">NRIC</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="NRIC" name="nric" value="{{ civ.nric }}" disabled>
          <input type="text" class="form-control" id="NRIC" name="nric" value="{{ civ.nric }}" hidden>
          <div class="invalid-feedback">
            The input value must be an NRIC
          </div>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="Name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="Name" name="name" value="{{ civ.name }}" required>
          <div class="invalid-feedback">
            The input value must not contain numbers or special characters
          </div>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="Mobile" class="col-sm-2 col-form-label">Mobile</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="Mobile" name="mobile" value="{{ civ.mobile }}" required>
          <div class="invalid-feedback">
            The input value must be a valid phone number
          </div>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="Email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="Email" name="email" value="{{ civ.email }}" required>
          <div class="invalid-feedback">
            The input value must be a valid email
          </div>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
      </div>
      <div class="row" >
        <legend class="col-form-label col-sm-2 pt-0">Region</legend>
        <div class="col-sm-10">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="region" id="NORTHEAST" value="NORTH-EAST" {% ifequal civ.region 'NORTH-EAST' %}checked{% endifequal %}>
            <label class="form-check-label" for="NORTHEAST">
              NORTH-EAST
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="region" id="WEST" value="WEST" {% ifequal civ.region 'WEST' %}checked{% endifequal %}>
            <label class="form-check-label" for="WEST">
              WEST
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="region" id="CENTRAL" value="CENTRAL" {% ifequal civ.region 'CENTRAL' %}checked{% endifequal %}>
            <label class="form-check-label" for="CENTRAL">
              CENTRAL
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="region" id="EAST" value="EAST" {% ifequal civ.region 'EAST' %}checked{% endifequal %}>
            <label class="form-check-label" for="EAST">
              EAST
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="region" id="NORTH" value="NORTH" {% ifequal civ.region 'NORTH' %}checked{% endifequal %}>
            <label class="form-check-label" for="NORTH">
              NORTH
            </label>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
          <button id="submit" type="submit" class="btn btn-success">Submit</button>
        </div>
      </div>
    </form>
    </div>
    <!-- Javascript for client-side validation -->
    <script>
    // Function that enables submission of form or rejection of form
checker = true;
function disableSubmit(){
  document.getElementById("submit").disabled = true;
}

function enableSubmit(){
  document.getElementById("submit").disabled = false;
}



function checkValid(id){
  var nric_regex = /^\w{1}\d{7}\w{1}$/;
  var name_regex = /^[a-zA-Z ]+$/;
  var mobile_regex = /^\d{8}$/;
  var email_regex = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
  var mytag = document.getElementById(id);
  switch(id) {
  case "NRIC":
    var value = nric_regex.test(mytag.value);
    break;
  case "Name":
    var value = name_regex.test(mytag.value);
    break;
  case "Email":
    var value = email_regex.test(mytag.value);
    break;
  case "Mobile":
    var value = mobile_regex.test(mytag.value);
    break;
  default:
    // code block
  }
  var mylist = [];
  mylist.push(document.getElementById("NRIC"));
  mylist.push(document.getElementById("Name"));
  mylist.push(document.getElementById("Email"));
  mylist.push(document.getElementById("Mobile"));
  if (value){
    mytag.classList.remove("is-invalid");
    mytag.classList.add("is-valid");
      }
  else{
    mytag.classList.add("is-invalid");
    mytag.classList.remove("is-valid");
  }
  for (i=0;i<mylist.length;i++){
    if (mylist[i].classList.contains("is-invalid")){
      checker = false;
      break;
    }
    checker = true;
  }
  if (checker){
    enableSubmit();
  }
  else{
    disableSubmit();
  }
}


// Adding event that checks if input is valid
document.getElementById("Mobile").addEventListener("focusout",function(){
  checkValid("Mobile");
});
document.getElementById("Name").addEventListener("focusout",function(){
  checkValid("Name");
});
document.getElementById("Email").addEventListener("focusout",function(){
  checkValid("Email");
});
document.getElementById("NRIC").addEventListener("focusout",function(){
  checkValid("NRIC");
});
</script>
{% endblock %}