.anyClass {
  height:600px;
  overflow-y: scroll;
}

  .example-1 {
    position: relative;
    overflow-y: scroll;
    height: 200px; }

    .test{
      max-height: 300px;
      margin-bottom: 10px;
      overflow:scroll;
      -webkit-overflow-scrolling: touch;
  }